/* General CSS */

	body {
	    width: 100%;
	    margin: auto;
	    background-color: #d9d9d9;
	    z-index: 1;
	}

	footer {
      background-color: #555;
      color: white;
      padding: 15px;
      width: 100%;
      position: fixed;
      bottom: 0;
    }

    .help-block {
    	font-size: 0.7em;
    }

    legend {
    	font-weight: bold;
    	font-size: 1.2em;
    }

/* Content homepage CSS */

#Content  {
	width: auto;
	margin: auto;
	margin-top: 120px;
	margin-bottom: 120px;
}

.container2 {
	display: block;
	
	}

.post {
	border: 1px  solid black;
	margin-bottom: 25px;
	margin-top: 25px;
	width: 100%;
	padding: 1%;
}

.commentForm {
	width: 100%;
	margin-bottom: 1em;
	padding: 1%;
}

h2 {
	margin-top: 2%;
	text-align: center;
	text-decoration: underline;
	font-size: 2em;
}

label {
	display:block;
	width:55%;
	min-width: 100px;
	float:left;
}

input {
	display:block;
	width: 35%;
	min-width: 60px;
	max-width: 200px;
}

fieldset {
	line-height: 0.9em;
	width: auto;
}


#test {
	display: flex;
	flex-direction: row;
	justify-content: center;
}

#loginBut {
	font-size: 0.8em;
	margin-right: 1%;
}

#notice  {
	text-align: center;
}

p#notice {
	font-size: 0.7em;
}